# ==============================================================================
# Load the following modules:
#   ml aocc/5.0.0
#   ml openmpi/4.1.6--aocc--4.2.0
#   ml hdf5/1.14.3--openmpi--4.1.6--aocc--4.2.0
# ==============================================================================
CXX      = mpicxx
CXXFLAGS = -std=c++17

##LDFLAGS = -rdynamic
LDFLAGS =

OPTIMIZE           = yes
CXX_OPTIMIZE_FLAGS = -march=native -Ofast

WARN           = yes
CXX_WARN_FLAGS = -Wall

DEBUG           = no
##CXX_DEBUG_FLAGS = -g -O0 -traceback -debug all  # -traceback leads to linker errors
CXX_DEBUG_FLAGS = -g -O0 -debug all

HDF5_INC_DIR  = ${HDF5_INC}
HDF5_LIBS_DIR = ${HDF5_LIB}
HDF5_LIBS     = -lhdf5
