# ==============================================================================
# Load the following modules:
#   ml nvhpc/24.9
#   ml hpcx-mpi/2.20
#   ml hdf5/1.14.3--hpcx-mpi--2.20--nvhpc--24.9
#   ml cuda/12.6
# NOTE: because on Pitagora the login node differs from the GPU-accelerated
#       compute nodes, always compile the code on a such a compute node via
#       an INTERACTIVE JOB:
#   srun -N 1 -n 10 -p boost_fua_dbg --qos normal --time 00:01:00 --mem 1G --pty /bin/bash -l
# ==============================================================================
CXX      = mpicxx
CXXFLAGS = -std=c++17 -DUSE_CUDA

CUCC       = nvcc
CUCC_FLAGS = -std=c++17 -gencode arch=compute_90,code=sm_90 -DUSE_CUDA -I${HPCX_MPI_DIR}/include -L${HPCX_MPI_LIB} -lmpi

##LDFLAGS = -rdynamic
LDFLAGS =

OPTIMIZE           = yes
##CXX_OPTIMIZE_FLAGS = -Mvect=simd -fast
CXX_OPTIMIZE_FLAGS = -fast

# NOTE: -Werror turns all warnings into errors, so you can try disabling this
#   option and see if the code is compiled
WARN           = yes
CXX_WARN_FLAGS = -Werror

DEBUG           = no
CXX_DEBUG_FLAGS = -g -O0 -C -traceback

HDF5_INC_DIR  = ${HDF5_INC}
HDF5_LIBS_DIR = ${HDF5_LIB}
HDF5_LIBS     = -lhdf5

CUDA_LIBS_DIR = ${CUDA_LIB}
CUDA_LIBS     = -lcudart
